<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.musicplayerapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FavoriteSongs"
            android:label="Favorite Songs"/>
        <activity android:name=".SongText"
            android:label="Song Text"/>
        <activity android:name=".DonateForTheArtist"
            android:label="Donate for the Artist"/>
        <activity android:name=".UpcomingConcerts"
            android:label="Upcoming Concerts"></activity>
    </application>

</manifest>